{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}


{% block body %}

    {% include "partials/_nav_bar.html.twig" %}

    <section class="vh-100 gradient bgg" >

        <div class="container py-5 h-100 ">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-color text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">

                            <div class="mb-md-5 mt-md-4 pb-5">

                                <h2 class="fw-bold mb-2 text-uppercase neon red-color">{% trans %}Please sign in{% endtrans %}</h2>
                                <p class="text-white-50 mb-5">{% trans %}Nice to see you again. Welcome back!{% endtrans %}</p>

                                <form method="post">

                                    {% if error %}
                                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                    {% endif %}

                                    {% if app.user %}
                                        <div class="mb-3">
                                        {% trans %}You are logged in as{% endtrans%} {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">{% trans %}Logout{% endtrans %}</a>
                                        </div>
                                    {% endif %}

                                    <label for="inputEmail">Email</label>
                                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control form-outline form-white mb-4" autocomplete="email" required autofocus>

                                    <label for="inputPassword">{% trans %}Password{% endtrans %}</label>
                                    <input type="password" name="password" id="inputPassword" class="form-control form-outline form-white mb-4" autocomplete="current-password" required>

                                    <input type="hidden" name="_csrf_token"
                                        value="{{ csrf_token('authenticate') }}"
                                    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
                                <div class="btn1"><button class="btn btn-outline-light btn-lg px-5" type="submit">
                                    {% trans %}Sign in{% endtrans %}
                                </button></div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
