{% set queryParams = app.request.query.all %}
{% set queryString = queryParams|filter((v,k) => k != "page" and k != "ajax")|url_encode %}
{% if pages >= 1 %}
    <div>
        <ul class="pagination">
            {% if currentPage > 1 %}
            <li class="page-item">
                <a href="{{ path(path, {id: playlistId, page: currentPage - 1}) }}&{{ queryString }}" class="page-link">&lt;</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link">&lt;</a>
            </li>
            {% endif %}
            {% for page in 1..pages %}
                <li class="page-item">
                    <a href="{{ path(path, {id: playlistId, page: page}) }}&{{ queryString }}" class="page-link">{{ page }}</a>
                </li>
            {% endfor %}
            {% if currentPage < pages %}
                <li class="page-item">
                    <a href="{{ path(path, {id: playlistId, page: currentPage + 1}) }}&{{ queryString }}" class="page-link">&gt;</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link">&gt;</a>
                </li>
            {% endif %}
        </ul>
    </div>
{% endif %}