{% set path = 'app_playlist' %}
    {% set playlistId = playlist.id %}
    {% if filteredPlaylistSongs is not empty %}
        {% set pages = filteredPlaylistSongs.pages %}
        {% set currentPage = filteredPlaylistSongs.page %}
    {% else %}
        {% set pages = 1 %}
        {% set currentPage = 1 %}
    {% endif %}
{% set queryParams = app.request.query.all %}
{% set queryString = queryParams|filter((v,k) => k != "page" and k != "ajax")|url_encode %}
{% if pages >= 1 %}

    <div class="inline position_right padding_right">
        <ul class="inline">
            {% if currentPage > 1 %}
                <li class="inline">
                    <a href="{{ path(path, {id: playlistId, page: currentPage - 1}) }}&{{ queryString }}" class="inline pagination_hover">&lt;</a>
                </li>
            {% else %}
                <li class="inline">
                    <a class="inline pagination_hover">&lt;</a>
                </li>
            {% endif %}
            {% for page in 1..pages %}
                <li class="inline">
                    <a href="{{ path(path, {id: playlistId, page: page}) }}&{{ queryString }}" class="inline pagination_hover">{{ page }}</a>
                </li>
            {% endfor %}
            {% if currentPage < pages %}
                <li class="inline">
                    <a href="{{ path(path, {id: playlistId, page: currentPage + 1}) }}&{{ queryString }}" class="inline pagination_hover">&gt;</a>
                </li>
            {% else %}
                <li class="inline">
                    <a class="inline pagination_hover">&gt;</a>
                </li>
            {% endif %}
        </ul></div>

{% endif %}