{% if app.user %}

    <nav>
        <a class="nav_link neon" href="{{ path('app_homepage')}}">LoopBox </a>

        <div class="header_nav">

        <a class="nav_link neon" href="{{ path('app_user', {userId: app.user.id})}}">My account</a>

        <a class="nav_link neon" href="#">Edit my account</a>

        <a class="nav_link neon" href="{{ path('app_logout')}}">Logout</a>
        </div>
        
    </nav>


{% else %}

    <nav>
        <a class="nav_link neon" href="{{ path('app_homepage')}}">LoopBox</a>

        <div class="header_nav">

        <a class="nav_link neon " href="{{ path('app_register')}}">Sing up</a>

        <a class="nav_link neon " href="{{ path('app_login')}}">Login</a>

        </div>

    </nav>


{% endif %}

