{% for song in songs %}
    <tr class="white">
        <td class="td2">{{ song.name }}</td>
        <td class="td2">{{ song.type }}</td>
        <td class="td2">{{ song.artist }}</td>
        <td class="td2">
            <button class="btn_space btn btn-outline-light">
                <a class="white_hover neon" href="{{ path('app_homepage_player', {'id': song.id}) }}">{% trans %}Play{% endtrans %}</a>
            </button>
        </td>
        <td class="td2">
            <button type="button" class="btn_space btn btn-outline-light white_hover neon" data-toggle="modal"
                    data-target="#exampleModalLong{{ song.id }}">{% trans %}Add{% endtrans %}
            </button>
        </td>
    </tr>
    {% include "partials/_popupPlaylists.html.twig" %}
{% endfor %}
