{% extends 'base.html.twig' %}
{% set genres=["Rap", "Pop", "Metal", "Rock", "Classical Music", "Jazz"] %}
{% block title %}Hello HomepageController!{% endblock %}

{% block body %}

    {% include "partials/nav_bar.html.twig" %}

    <div class="bg_homepage">

    <h1 class="center red-color neon title">Welcome to Loopbox!</h1>

    {%include "partials/_search_data.html.twig" with {
        form: form ?? null
    } only %}

            <form id="filters" class="white center margin_bottom">
                {% for genre in genres %}
                <div class="form-check form-check-inline">
                    <input type="checkbox" name="type[]" id="{{ genre }}" value="{{ genre }}">
                    <label for="{{ genre }}">{{ genre }}</label>
                </div>
                {% endfor %}
            </form>


        <table class="table noline">
            <thead>
            <tr class="white">
                <th class="th2">Name</th>
                <th class="th2">Type</th>
                <th class="th2">Artist</th>
                <th class="th2"></th>
                <th class="th2"></th>
            </tr>
            </thead>
            <tbody id="content">
            {% include "homepage/_content.html.twig" %}
            </tbody>
        </table>


    {% block javascripts %}
        <script src="{{ asset("js/filters.js") }}"></script>
    {% endblock %}

    <div class="container1 margin_top">
        <div class="row">
            {% for album in albums %}
                <div class="card2">
                    <div class="center">
                        <img class="picture" src="{{ asset('uploads/images/'~album.pictureFileName) }}" alt="Card image cap" width="220" height="220">
                    </div>
                    <p><h4 class="center"><a class="red-color neon" href="{{path('app_album_show', {id: album.id})}}">{{ album.name }}</a></h4></p>
                </div>
            {% endfor %}
        </div>
    </div>

    </div>



{% endblock %}

