{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}

    {% include "partials/nav_bar.html.twig" %}

    <h1>Welcome to Loopbox!</h1>


    <div class="example-wrapper">
        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.name }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% else %}
            <h1>Hello Traveller</h1>
            <div>Do you want to <a href="{{ path('app_login') }}">Login</a></div>
        {% endif %}

    </div>
    <h1 class="center"> Songs </h1>

    <table class="table">
        <tbody>

        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Artist</th>
            <th></th>
            <th></th>
        </tr>
        {% for song in songs %}
            <tr>

                <td>{{ song.name }}</td>
                <td>{{ song.type }}</td>
                <td>{{ song.artist }}</td>
                <td><button>
                        <a class="red-color neon" href="{{ path('app_homepage_player', {'id': song.id}) }}">play</a>
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-primary" data-toggle="modal"
                            data-target="#exampleModalLong{{ song.id }}">Add
                    </button>
                </td>
            </tr>
            <div class="modal fade" id="exampleModalLong{{ song.id }}" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Choose the playlist</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-check">
                                {% if app.user %}
                                    {% for playlist in playlists %}
                                        <div>{{ playlist.name }}</div>
                                        <div>
                                            <a href="{{ path('add_song_homepage', {'songId': song.id, 'playlistId': playlist.id}) }}"> {{ playlist.name }} </a>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <a href="{{ path('app_login') }}">Veuillez vous connecter</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        </tbody>
    </table>



{% endblock %}