{{ form_start(songForm) }}
    {{ form_row(songForm.name) }}
    {{ form_row(songForm.type) }}
    {{ form_row(songForm.artist) }}
    {{ form_row(songForm.created_at) }}
    {{ form_row(songForm.deleted_at) }}
    {{ form_row(songForm.updated_at) }}
    {{ form_row(songForm.picturePath) }}
    {{ form_row(songForm.audioPath) }}
    {{ form_row(songForm.user) }}
    {{ form_row(songForm.relationWithPlaylist) }}
    {{ form_row(songForm.relationWithAlbum) }}
    <button type="submit">{% trans %}ADD{% endtrans %}</button>
{{ form_end(songForm) }}

