{#{% extends 'base.html.twig' %}

{% block title %}Player{% endblock %}

{% block body %}

    {% include "partials/_nav_bar.html.twig" %}

    <section class="background2 margins">
    <div class="d-flex justify-content-center">

        <div id="mobile-box">

            <div class="card1">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    {% if song.pictureFileName == null %}
                        <img class="card-img-top img" src="{{ asset('assets/css/img/music3.jpg') }}" alt="Card image cap" height="450" width="390">
                    {% else %}
                        <img class="card-img-top img" src="{{ asset('uploads/images/'~song.pictureFileName) }}" alt="Card image cap" height="450" width="390">
                    {% endif %}
                </div>

                <div class="card-body text-center">

                    <h4 class="font-weight-bold">{{ song.name }}</h4>
                    <p>{{ song.artist }}</p>

                    {% if prev %}
                    <a class="black" href="{{ path('app_song_player',{id: prev.id}) }}">
                    {% endif %}

                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                            <path fill-rule="evenodd" d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                        </svg>

                    {% if prev %}
                        </a>
                    {% endif %}

                    <audio controls class="audio-play-button padding" onclick="this.nextElementSibling.play()">
                        <source src="{{ asset('uploads/song/'~ song.audioFileName)}}" type="audio/mp3">
                    </audio>

                    {% if next %}
                        <a class="black" href="{{ path('app_song_player',{id: next.id}) }}">
                    {% endif %}

                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                            <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
                        </svg>

                    {% if next %}
                        </a>
                    {% endif %}


                </div>
            </div>

        </div>
    </div>
    </section>








{% endblock %}#}