{% extends 'base.html.twig' %}

{% block title %}Song{% endblock %}

{% block body %}

    {% include "partials/nav_bar.html.twig" %}

    <div class="background_song" >
        <h1 class="center neon red-color title">Song details</h1>

        <div class="center">
        {% if song.pictureFileName == null %}
            <img src="{{ asset('assets/css/img/music3.jpg') }}" alt="Song" width="250" height="200">
        {% else %}
            <img src="{{ asset('uploads/images/'~song.pictureFileName) }}" alt="Song" width="250" height="200">
        {% endif %}
        </div>

        <table class="table">
            <tbody>
                <tr class="white">
                    <th class="th2">Name</th>
                    <td class="td2">{{ song.name }}</td>
                </tr>
                <tr class="white">
                    <th class="th2">Type</th>
                    <td class="td2">{{ song.type }}</td>
                </tr>
                <tr class="white">
                    <th class="th2">Artist</th>
                    <td class="td2">{{ song.artist }}</td>
                </tr>
            </tbody>
        </table>

        <div class="buttons_block">

            <button class="btn1 btn btn-outline-light btn-lg px-5 red-color neon buttons_space">
                <a class="red-color neon" href="{{ path('app_song_edit', {'id': song.id}) }}">Edit Song</a>
            </button>
            <div class="position_right"> {{ include('song/_delete_form.html.twig') }}</div>

        </div>

        <div class="footer"><a class="orange_color" href="{{ path('app_song_index') }}">Back to Song list</a></div>

    </div>

{% endblock %}
