{% extends 'base.html.twig' %}
{% set queryParams = app.request.query.all %}
{% set genres = ["Rap", "Pop", "Metal", "Rock", "Classical Music", "Jazz"] %}

{% block title %}PlaylistController!{% endblock %}

{% block body %}

    {% include "partials/_nav_bar.html.twig" %}

    <div class="jumbotron text-center background_playlist bg_properties">

        <div class="container">
            <h1 class="red-color neon center title">Playlist {{ playlist.name }}</h1>

            {% if playlist.imageFileName == null %}
                <img src="https://cdn.dribbble.com/users/1752437/screenshots/14183305/ep_4x.png" alt="Music Note"
                     width="250" height="200">
            {% else %}
                <img src="{{ asset('uploads/images/'~playlist.imageFileName) }}" alt="Music Note" width="250"
                     height="200">
            {% endif %}

            <p>
                <button type="button" class="btn btn-outline-light btn_space btn_margin" data-toggle="modal"
                        data-target="#exampleModalLong">
                    {% trans %}Add Song{% endtrans %}
                </button>

                <a href="{{ path('app_playlist_edit',{id: playlist.id}) }}" class="btn btn-outline-light btn_margin">
                    {% trans %}Edit{% endtrans %} playlist</a>

                    {{ include('playlist/_delete_form.html.twig') }}

            <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content color_popup2">
                        <div class="modal-header color_popup">
                            <h5 class="modal-title red-color" id="exampleModalLongTitle">{% trans %}All songs{% endtrans %}</h5>
                            <button type="button" class="close btn_add_close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="filtre white">
                            <div>{% trans %}Select by type{% endtrans %}</div>
                            <form id="filtersPopup">
                                {% for genre in genres %}
                                    {% if queryParams is not empty and queryParams.type is defined %}
                                        {% set checked = (genre in queryParams.type) ? "checked" : "" %}
                                    {% else %}
                                        {% set checked = "" %}
                                    {% endif %}
                                    <div class="form-check form-check-inline">
                                        <input type="checkbox" name="type[]" id="{{ genre }}" value="{{ genre }}" {{ checked }}>
                                        <label for="{{ genre }}">{{ genre }}</label>
                                    </div>
                                {% endfor %}
                            </form>
                        </div>
                        <div class="modal-body">
                            <table class="table">
                                <thead>
                                <tr class="white">
                                    <th class="td1">{% trans %}Title{% endtrans %}</th>
                                    <th class="td1">{% trans %}Artist{% endtrans %}</th>
                                    <th class="td1">{% trans %}Type{% endtrans %}</th>
                                    <th class="td1"></th>
                                </tr>
                                </thead>
                                <tbody id="contentPopup">
                                {% include "playlist/_contentPopup.html.twig" %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            </p>
        </div>
        <div class="filtre white">
            <p>{% trans %}Select by type{% endtrans %}</p>
            <form id="filters">
                {% for genre in genres %}
                    {% if queryParams is not empty and queryParams.type is defined %}
                        {% set checked = (genre in queryParams.type) ? "checked" : "" %}
                    {% else %}
                        {% set checked = "" %}
                    {% endif %}
                    <div class="form-check form-check-inline">
                        <input type="checkbox" name="type[]" id="{{ genre }}" value="{{ genre }}" {{ checked }}>
                        <label for="{{ genre }}">{{ genre }}</label>
                    </div>
                {% endfor %}
            </form>
        </div>
        <table class="table">
            <thead>
            <tr class="white">
                <th>{% trans %}Title{% endtrans %}</th>
                <th>{% trans %}Artist{% endtrans %}</th>
                <th>{% trans %}Type{% endtrans %}</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody id="content">
                {% include "playlist/_content.html.twig" %}
            </tbody>
        </table>
    </div>
    {% block javascripts %}
        <script src="{{ asset("js/filters.js") }}"></script>
    {% endblock %}
{% endblock %}