{% extends 'base.html.twig' %}

{% block title %}PlaylistController!{% endblock %}

{% block body %}


    {% include "partials/nav_bar.html.twig" %}

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Playlist</h1>
            <img src="https://www.shutterstock.com/image-illustration/note-sign-260nw-2228793919.jpg" alt="Sol">
            <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
            <p>

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
                    Add Song
                </button>

                <a href="#" class="btn btn-primary my-2">Delete playlist</a>

            <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">All songs</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Title</th>
                                        <th scope="col">Artist</th>
                                        <th scope="col">Type</th>
                                        <th scope="col">action</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    {% for song in songs %}
                                        <tr>
                                            <td>{{ song.name }}</td>
                                            <td>{{ song.artist }}</td>
                                            <td>{{ song.type }}</td>
                                            <td>
                                                <a href = {{path('add_song_playlist', {'playlistId': playlist.id, 'songId': song.id}) }}>Add</a>
                                            </td>

                                            {#

                                        <form action="{{ path('add_song_playlist', {'id': playlist.id, 'songId': song.id}) }}" method="POST">
                                            <input type="hidden" name="songId" value="{{ song.id }}">
                                            <button type="submit" class="btn btn-primary">Add</button>
                                        </form>
                                            #}
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="10">no records found</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>

                            </table>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            </p>
        </div>

    </section>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Titre</th>
            <th scope="col">Artist</th>
            <th scope="col">Album</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for song in playlist.songs %}
        <tr>
            <th scope="row">{{ song.id }}</th>
            <td>{{ song.name }}</td>
            <td>{{ song.artist }}</td>
            <td>{{ song.type }}</td>
            <td>
                <a href = {{path('delete_song_playlist', {'playlistId': playlist.id, 'songId': song.id}) }}>delete</a>
            </td>
        </tr>
        {% endfor %}

        </tbody>
    </table>

{% endblock %}



