{% extends 'base.html.twig' %}

{% block title %}Player Playlist{% endblock %}

{% block body %}

    {% include "partials/nav_bar.html.twig" %}

    <section class="background2 margins">
        <div class="d-flex justify-content-center">

            <div id="mobile-box">

                <div class="card1">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img class="card-img-top img" src="{{ asset('assets/css/img/music3.jpg') }}" alt="Card image cap" height="450" width="390">
                    </div>
                    <div class="card-body text-center">

                        <h4 class="font-weight-bold">{{ song.name }}</h4>
                        <p>{{ song.artist }}</p>

                        <audio id="music" preload="true">
                            <source src="#">
                        </audio>

                        {% if prev %}
                        <a href="{{ path('app_playlist_player',{'playlistId': playlist.id, 'songId': prev.id}) }}">
                            {% endif %}
                            <button class="buttons">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-left" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                                    <path fill-rule="evenodd" d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                                </svg>
                            </button>
                            {% if prev %}
                        </a>
                        {% endif %}

                        <button class="buttons">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right" viewBox="0 0 16 16">
                                <path d="M6 12.796V3.204L11.481 8 6 12.796zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z"/>
                            </svg>
                        </button>

                        {% if next %}
                        <a href="{{ path('app_playlist_player',{'playlistId': playlist.id, 'songId': next.id}) }}">
                            {% endif %}
                            <button class="buttons">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                                    <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
                                </svg>
                            </button>
                            {% if next %}
                        </a>
                        {% endif %}

                    </div>
                </div>

            </div>
        </div>
    </section>






{% endblock %}