{% extends 'base.html.twig' %}

{% block title %}Album{% endblock %}

{% block body %}

    {% include "partials/_nav_bar.html.twig" %}

    <div class="bg_show_album">
        <h1 class="center neon red-color title">{% trans %}Album details{% endtrans %}</h1>

        <div class="center">
            <img src="{{ asset('uploads/images/'~album.pictureFileName) }}" alt="Album" width="350" height="250">
        </div>

        <div class="white center text_size emphasized neon">
            {{ album.name }}, {{ album.artist }}, {{ album.type }}
        </div>

        {% if app.user is not null and app.user.id == album.user.id %}
            <div class="buttons_block_album">
                <button class="btn1 btn btn-outline-light btn-lg px-5 red-color neon buttons_space margin_bottom">
                    <a class="white_hover neon" href="{{ path('app_album_edit', {'id': album.id}) }}">{% trans %}Edit{% endtrans %}</a>
                </button>
                <div class="position_right">{{ include('album/_delete_form.html.twig') }}</div>
            </div>
        {% endif %}


        <h2 class="center neon red-color title">{% trans %}Songs{% endtrans %}</h2>

        <table class="center">
            {% for song in album.songs %}
                <tr class="white">
                    <td class="td3">{{ song.Name }}</td>
                    <td class="td3">
                        <button class=" btn btn_space btn-outline-light white_hover neon">
                            <a class="white_hover" href="{{ path('app_album_player', {'albumId': album.id, 'songId':song.id}) }}">
                                {% trans %}Play{% endtrans %}
                            </a>
                        </button>
                        <button class="btn btn-outline-light white_hover neon" data-toggle="modal"
                                data-target="#exampleModalLong{{ song.id }}">{% trans %}Add{% endtrans %}</button>
                    </td>
                </tr>
                {% include "partials/_popupPlaylists.html.twig"%}
            {% endfor %}
        </table>



    </div>

{% endblock %}
