{% extends 'base.html.twig' %}

{% block title %}Album{% endblock %}

{% block body %}

    {% include "partials/nav_bar.html.twig" %}

    <div class="bg_show_album">
        <h1 class="center neon red-color title">Album details</h1>

        <div class="center space">
            <img src="{{ asset('uploads/images/'~album.pictureFileName) }}" alt="Album" width="250" height="200">
        </div>

        <table class="table">
            <tbody>
                <tr class="white">
                    <th class="th3">Name:</th>
                    <td class="td4">{{ album.name }}</td>
                </tr>
                <tr class="white">
                    <th class="th3">Artist:</th>
                    <td class="td4">{{ album.artist }}</td>
                </tr>
                <tr class="white">
                    <th class="th3">Type:</th>
                    <td class="td4">{{ album.type }}</td>
                </tr>
            </tbody>
        </table>

        <h3 class="center neon red-color title">Songs</h3>

        <table class="center">
            {% for song in album.songs %}
                <tr class="white">
                    <td class="td2">{{ song.Name }}</td>
                    <td class="td2">
                        <button class=" btn btn_space btn-outline-light white_hover neon">Play</button>
                        <button class="btn btn-outline-light white_hover neon" data-toggle="modal"
                                data-target="#exampleModalLong{{ song.id }}">Add</button>
                    </td>
                </tr>
                {% include "partials/_popupPlaylists.html.twig"%}
            {% endfor %}
        </table>
        {% if app.user.id == album.user.id %}
        <div class="buttons_block">
            <button class="btn1 btn btn-outline-light btn-lg px-5 red-color neon buttons_space margin_bottom">
                <a class="white_hover neon" href="{{ path('app_album_edit', {'id': album.id}) }}">Edit Album</a>
            </button>
            <div class="position_right">{{ include('album/_delete_form.html.twig') }}</div>
        </div>
        {% endif %}


    </div>

{% endblock %}
