{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

    {% include "partials/_nav_bar.html.twig" %}

    <section class="background_user">

        <h1 class="red-color neon center margin_top" >{% trans %}Hello{% endtrans %}, {{ app.user.name }}
            <a href="{{path('app_song_favoris',{id: app.user.id})}}">
                <div>&#10084;</div></a>
        </h1>

        <p class="lead white center">{% trans %}Welcome on your page! Here you can see all your playlists and create others if you want.{% endtrans %}</p>

        <p class="center">
            <button class="btn btn-outline-light button_create_playlist"><a class="red-color neon" href="{{path('app_playlist_add')}}">Create Playlist</a></button>
        </p>

        <div class="container1 margin_top">
            <div class="row">
                {% for playlist in playlists %}
                    <div class="card2">
                        <div class="center">

                            {% if playlist.imageFileName == null %}
                                <img class="picture" src="https://cdn.dribbble.com/users/1752437/screenshots/14183305/ep_4x.png" alt="Card image cap" width="220" height="220">
                            {% else %}
                                <img class="picture" src="{{ asset('uploads/images/'~playlist.imageFileName) }}" alt="Card image cap" width="220" height="220">
                            {% endif %}
                        </div>

                        <p><h4 class="center"><a class="red-color neon" href="{{path('app_playlist', {id: playlist.id})}}">{{ playlist.name }}</a></h4></p>
                    </div>

                {% endfor %}
            </div>
        </div>

        {% include "user/_footer.html.twig" %}

    </section>

    {% block javascripts %}
        <script src="{{ asset("js/move.js") }}"></script>
    {% endblock %}

{% endblock %}


